.joke-filler-switch {
    width: auto;
    input[type="checkbox"] {
        position: relative;
        width: 60px;
        -webkit-appearance: none;
        height: 30px;
        background: #efefef;
        outline: none;
        border-radius: 30px;
        box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08);
        transition: 0.5s;
        &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            left: -2px;
            background: #fff;
            box-shadow: 0 0 6px -1px #dcdcdc;
            border-radius: 50%;
            top: 0;
            transition: 0.5s;
        }
        &:checked {
            background: #28a745;
            &:before {
                left: 30px;
            }
            & ~ label {
                color: #222;
            }
        }
    }
    label {
        color: #999;
        margin-bottom: 0;
        margin-left: 0.5em;
        position: relative;
        top: -9px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }
}
