@font-face {
    font-family: 'Open Sans - Light';
    src: url('../font/open-sans-light/OpenSansCondensed-Light.eot?10000');
    src: url('../font/open-sans-light/OpenSansCondensed-Light.eot?10000#iefix') format('embedded-opentype'),
    url('../font/open-sans-light/OpenSansCondensed-Light.woff2?10000') format('woff2'),
    url('../font/open-sans-light/OpenSansCondensed-Light.woff?10000') format('woff'),
    url('../font/open-sans-light/OpenSansCondensed-Light.ttf?10000') format('truetype'),
    url('../font/open-sans-light/OpenSansCondensed-Light.svg?10000#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
