@media only screen and (max-width: 991px) {
    .login-area {
        overflow-y: initial !important;
    }
    .login-section {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        top: initial !important;
        max-width: 340px !important;
    }
    .quote-card, .section-heading {
        max-width: 90%;
        margin: 0 auto 20px !important;
    }
    .section-heading {
        h1 {
            margin-bottom: 0 !important;
        }
    }
    main {
        margin: 20px auto 0 !important;
    }
    .navbar-brand {
        margin-right: 5px !important;
    }
    .joke-filler-switch label {
        font-size: 13px !important;
    }
}
