<section class="container-fluid font-open-sans-light">
    <article class="row">
        <div class="col no-padding">
            <app-header *ngIf="authService.isAuthenticated()"></app-header>

            <ngx-loading-bar></ngx-loading-bar>
        </div>
    </article>

    <article
        class="row app-content"
        [ngClass]="authService.isAuthenticated() ? 'initial-height' : 'full-height'">
        <app-alert [ngClass]="authService.isAuthenticated() ? 'initial-position' : 'top-position'"></app-alert>

        <main
            class="col no-padding"
            [ngClass]="authService.isAuthenticated() ? 'initial-margin' : 'mt-0'">
            <router-outlet></router-outlet>
        </main>
    </article>
</section>



