.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.font-open-sans-light {
    font-family: 'Open Sans - Light', Helvetica, Arial, serif;
}

.loading-bar-fixed > div {
    &#loading-bar-spinner, .bar {
        position: absolute !important;
        color: #00aa34 !important;
    }
    .bar {
        position: absolute !important;
        background: #00aa34 !important;
        z-index: 1 !important;
    }
}
