<h1
    class="mb-4 section-heading"
    aria-label="FAVORITES">FAVORITES</h1>

<blockquote class="quote-card">
    <a
        class="favorite-button chuck-icon-heart"
        aria-label="Remove from favorites"></a>

    <p aria-label="It is said that looking into Chuck Norris' eyes will reveal your future. Unfortunately, everybody's future is always the same: death by a roundhouse-kick to the face.">
        It is said that looking into Chuck Norris' eyes will reveal your future. Unfortunately, everybody's future is always the same: death by a roundhouse-kick to the face.
    </p>
</blockquote>

