<section class="section-heading d-flex align-items-start">
    <h1
        class="mb-4 d-inline-block"
        aria-label="JOKES SECTION">JOKES</h1>

    <app-refresh-jokes class="d-inline-block ml-4 mt-2"></app-refresh-jokes>
</section>

<blockquote
    class="quote-card"
    *ngFor="let joke of jokesService.jokes; let i = index;"
    tabindex="{{ i + 1 }}">
    <a
        class="favorite-button chuck-icon-heart-empty"
        [title]="joke.active ? 'Remove from favorites' : 'Add to Favorites'"
        [ngClass]="{ 'selected' : joke.active }"
        (click)="addJokeToFavorites(joke)"></a>

    <p id="{{ joke.id + '-' + i }}">
        {{ joke.joke }}
    </p>
</blockquote>

